.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-pdf{
	background:url('icons/document-pdf.png') no-repeat center center;
}
.icon-excel{
	background:url('icons/document-excel.png') no-repeat center center;
}
.icon-detail{
	background:url('icons/detail.png') no-repeat;
}
.icon-login{
	background:url('icons/lock_open.png') no-repeat;
}
.icon-upload{
	background:url('icons/import.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}




.icon-otoritas{
	background:url('icons/menu/otoritas.png') no-repeat center center;
}

.icon-administrator{
	background:url('icons/menu/adminitrator.png') no-repeat center center;
}

.icon-master{
	background:url('icons/menu/master.png') no-repeat center center;
}

.icon-kategori{
	background:url('icons/menu/kategori.png') no-repeat center center;
}

.icon-subkateg{
	background:url('icons/menu/sub_kategori.png') no-repeat center center;
}

.icon-barang{
	background:url('icons/menu/barang.png') no-repeat center center;
}

.icon-setup{
	background:url('icons/menu/setup.png') no-repeat center center;
}

.icon-logistic{
	background:url('icons/menu/logistic.png') no-repeat center center;
}

.icon-ro{
	background:url('icons/menu/ro.png') no-repeat center center;
}

.icon-rol{
	background:url('icons/menu/rol.png') no-repeat center center;
}

.icon-ros{
	background:url('icons/menu/ros.png') no-repeat center center;
}

.icon-picking{
	background:url('icons/menu/picking.png') no-repeat center center;
}

.icon-shipment{
	background:url('icons/menu/shipment.png') no-repeat center center;
}

.icon-delivery{
	background:url('icons/menu/delivery.png') no-repeat center center;
}

.icon-purchase{
	background:url('icons/menu/purchase.png') no-repeat center center;
}

.icon-pr{
	background:url('icons/menu/pr.png') no-repeat center center;
}

.icon-qrs{
	background:url('icons/menu/qrs.png') no-repeat center center;
}

.icon-po{
	background:url('icons/menu/po.png') no-repeat center center;
}

.icon-bap{
	background:url('icons/menu/bap.png') no-repeat center center;
}

.icon-bapp{
	background:url('icons/menu/bapp.png') no-repeat center center;
}

.icon-dr{
	background:url('icons/menu/dr.png') no-repeat center center;
}

.icon-pr{
	background:url('icons/menu/pr.png') no-repeat center center;
}

.icon-user{
	background:url('icons/menu/user.png') no-repeat center center;
}

.icon-menu{
	background:url('icons/menu/menu.png') no-repeat center center;
}

.icon-departement{
	background:url('icons/menu/departement.png') no-repeat center center;
}

.icon-print{
	background:url('icons/print.png') no-repeat;
}

.icon-approval{
	background:url('icons/menu/approval.png') no-repeat center center;
}

.icon-delivered{
	background:url('icons/menu/delivered.png') no-repeat center center;
}

.icon-purchase-form{
	background:url('icons/icon/purchase.png') no-repeat;
}

.icon-all{
	background:url('icons/icon/add_all.png') no-repeat;
}

.icon-list{
	background:url('icons/icon/list.png') no-repeat;
}

.icon-checkout{
	background:url('icons/icon/checkout.png') no-repeat;
}

.icon-loading{
	background:url('icons/icon/loading.png') no-repeat;
}

.icon-detail-form{
	background:url('icons/icon/detail.png') no-repeat;
}

.icon-stock{
	background:url('icons/menu/stock.png') no-repeat center center;
}

.icon-inbound{
	background:url('icons/menu/inbound.png') no-repeat center center;
}

.icon-satuan{
	background:url('icons/menu/satuan.png') no-repeat center center;
}

.icon-transfer{
	background:url('icons/menu/transfer.png') no-repeat center center;
}

.icon-ordered{
	background:url('icons/menu/ordered.png') no-repeat center center;
}




