* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Helvetica;
}
.right {
    float: right;
}
.left {
    float: left;
}
a {
    color: #555;
    font-weight: bold;
}
#topheader {
    width: 100%;
    background: rgb(249, 198, 69);
    /* Old browsers */

background: -moz-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(200, 200, 200, 1) 25%, rgba(176, 176, 176, 1) 53%, rgba(152, 147, 147, 1) 100%);
    /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237, 237, 237, 1)), color-stop(25%, rgba(200, 200, 200, 1)), color-stop(53%, rgba(176, 176, 176, 1)), color-stop(100%, rgba(152, 147, 147, 1)));
    /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(200, 200, 200, 1) 25%, rgba(176, 176, 176, 1) 53%, rgba(152, 147, 147, 1) 100%);
    /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(200, 200, 200, 1) 25%, rgba(176, 176, 176, 1) 53%, rgba(152, 147, 147, 1) 100%);
    /* Opera 11.10+ */

background: -ms-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(200, 200, 200, 1) 25%, rgba(176, 176, 176, 1) 53%, rgba(152, 147, 147, 1) 100%);
    /* IE10+ */

background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, rgba(200, 200, 200, 1) 25%, rgba(176, 176, 176, 1) 53%, rgba(152, 147, 147, 1) 100%);
    /* W3C */

filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f9c645', endColorstr='#f9d068', GradientType=0);
    /* IE6-9 */

border-bottom: solid 3px #336699;
}
.bg {
    width: 100%;
    height: 90px;
    background: url(../images/head-bg.png) repeat-x 0 0;
}
.logo {
    float: left;
    margin: 5px 0 0 20px;
}
.logo a {
    display: block;
    width: 100px;
    height: 78px;
    background: url(../images/logo.png) no-repeat;
    color: transparent!important
}
.title {
    float: left;
    margin: 20px 0 0 20px
}
.title h1 {
    color: #6a432c;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    font-family: 'Cambria', Georgia, sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 0;
}
.title h2 {
    font-size: 16px;
    font-family: 'Jockey One', sans-serif;
    color: #1e5891;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    padding: 0
}
/* user panel */

.rpanel {
    float: right;
    margin: 15px 20px 0;
    overflow: hidden;
}
.rpanel h4 {
    font-size: 14px;
    color: #6a432c;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
}
.rpanel p {
    color: #6a432c;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}
.rpanel p a {
    color: #6a432c;
    text-decoration: none;
}
.rpanel p a:hover {
    color: #336699;
}
.rpanel hr {
    border-bottom-color: #20568B;
    border-top-color: #042C54;
    margin: 3px 0;
}
.rpanel .inlink {
    background: #336699;
    border-radius: 4px;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 3px 3px 0 0;
    padding: 1px 5px;
    text-decoration: none;
    text-shadow: 0 1px 1px #333333;
}
.rpanel .inlink:hover {
    background: #000033;
}
.rpanel .logout {
    height: 40px;
    line-height: 40px;
    border-left: 1px dotted #2989D8;
    color: #6a432c;
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin: 15px 0 0 10px;
    padding: 0 0 0 40px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    background: url(../images/ic-logout.png) no-repeat 10px 50%
}
.rpanel .logout:hover {
    color: #000033
}
#footer {
    width: 100%;
    margin: 0 0 0 0;
    background: url(../images/footer-bg.png) repeat left top;
    border-top: solid 3px #336699;
    height: 29px;
    text-align: center;
    line-height: 29px;
    z-index: 11;
    font-size: 12px;
    padding: 0px;
}
.footer_content {
    width: 100%;
    margin: auto;
    color: #555;
}
.footer_content a {
    color: #555;
    text-decoration: none;
}
.footer_content a:hover {
    color: #333
}
.footer_bottom {
    clear: both;
    padding: 0 0;
    float: left;
    width: 100%;
}
.footer_bottom_left {
    float: left;
}
.copyrights {
    float: left;
    padding: 0 0 0 5px;
    text-shadow: 0 1px 0 #fff
}
.copyrights a {
    font-weight: bold
}
.footer_right_links {
    width: 300px;
    float: right;
    padding: 0;
    text-align: right;
}
.footer_right_links ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.footer_right_links ul li {
    padding: 0px;
    margin: 0px;
    display: inline;
}
.footer_right_links ul li a {
    padding: 0px;
    margin: 0px;
    padding: 0 12px 0 12px;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
}

.notif {
    display: inline-block;
 
    background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(240, 240, 240));
    background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(240, 240, 240));
    background-image: -o-linear-gradient(top, rgb(249, 249, 249), rgb(240, 240, 240));
    background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(240, 240, 240));
    background-image: linear-gradient(top, rgb(249, 249, 249), rgb(240, 240, 240));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f0f0f0');
 
    -webkit-border-radius:0.2em;
    -moz-border-radius:0.2em;
    border-radius:0.2em;
 
    border:1px solid #cecece;
 
    -webkit-box-shadow:
        inset 0px 1px 0px #fff,
        0px 1px 2px rgba(0,0,0,.06);
    -moz-box-shadow:
        inset 0px 1px 0px #fff,
        0px 1px 2px rgba(0,0,0,.06);
    box-shadow:
        inset 0px 1px 0px #fff,
        0px 1px 2px rgba(0,0,0,.06);
}

.notif li {
    float:left;
    position:relative;
 
    border-right:1px solid #d8d8d8;
    border-left:1px solid #ffffff;
}

.notif li a {
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:bold;
    color:#666666;
    text-shadow:0px 1px 0px #ffffff;
 
    display: block;
    padding:0 1em;
    line-height:2.5em;

    text-decoration: none;
}

.notif li a span {
    position: absolute;
    top:-1em;
    right: 0.5em;
 
    width: 1.5em;
    height: 1.5em;
 
    line-height:1.5em;
    text-align:center;
 
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:bold;
    color:#fff;
    text-shadow:0px 1px 0px rgba(0,0,0,.15);
 
    -webkit-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,35),
        0px 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.35),
        0px 1px 1px rgba(0,0,0,.2);
    box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.35),
        0px 1px 1px rgba(0,0,0,.2);
 
    -webkit-border-radius:4em;
    -moz-border-radius:4em;
    border-radius:4em;
 
    opacity:1;
    filter: alpha(opacity=100);
 
    -webkit-transition: .3s top ease-in, .3s opacity ease-in;
    -moz-transition: .3s top ease-in, .3s opacity ease-in;
    -o-transition: .3s top ease-in, .3s opacity ease-in;
    -ms-transition: .3s top ease-in, .3s opacity ease-in;
    transition: .3s top ease-in, .3s opacity ease-in;
}

.notif li a span.pink {
    background-image: -webkit-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -moz-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -o-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -ms-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f78297', EndColorStr='#f46677');
 
    border:1px solid #ce4f5e;
}

.notif li a span.yellow {
    background-image: -webkit-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    background-image: -moz-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    background-image: -o-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    background-image: -ms-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    background-image: linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#feda71', EndColorStr='#feba48');
 
    border:1px solid #dea94f;
}
.notif li a span.blue {
    background-image: -webkit-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: -moz-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: -o-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: -ms-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ace4f8', EndColorStr='#6ccdf3');
 
    border:1px solid #79b5cb;
}

// Dropdown

.notif ul li a.notif
{
    background: #F8F8F8;
      width: 240px;
      height: 40px;
    color: #888;
    border: none;
      border-radius: 3px;
      padding: 0 0 0 10px;
    font: bold 13px Helvetica, sans-serif;
    text-transform: uppercase;
      line-height: 40px;
      cursor: default;
    -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    margin-bottom: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.notif ul li a.btn-notif { cursor: pointer; }

#notif { position: absolute; display: none; }

#notif a
{
    border-left: 5px solid;
    display: block;
    background: #F8F8F8;
    width: 240px;
    padding: 0 0 0 10px;
    font: bold 11px Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    line-height: 40px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

#notif a:nth-child(n)
{
    border-bottom: 1px solid #ddd;
}

#notif a:last-child
{
    border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
}

#notif a:hover { color: #555; }

#notif a:hover > .fa { color: #555; }

#firstIcon, #secondIcon, #thirdIcon, #fourthIcon
{
    position: absolute;
      margin-top: 10px;
      right: 0;
    font-size: 20px;
      color: rgba(0, 0, 0, 0.4);
      opacity: 0.7;
}

#firstIcon { margin-right: 14px; }
#secondIcon { margin-right: 11px; }
#thirdIcon { margin-right: 11px; }
#fourthIcon { margin-right: 13px; }

#notif-arrow
{
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 9px solid #F8F8F8;
    margin-left: 15px;
}

#notif .alert
{
    border-left-color: #550000;
}

#notif .alert:hover, #notif .alert:focus
{
    border-left-color: #990000;
}

#notif .warning
{
    border-left-color: #775500;
}

#notif .warning:hover, #notif .warning:focus
{
    border-left-color: #ddaa44;
}

.notif-counter
{
    display: none;
}

#notif .context
{
    display: block;
    background: #F8F8F8;
    width: 255px;
    font: bold 11px Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    line-height: 40px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
